.container {
    width: 80%;
    margin: 0 10%;
}

.row {
    width: 100%;
    clear: both;
}

.col-3 {
    float: left;
    width: 25%;
}

.card {
   width: 96%;
   margin: 10px 2%;
   box-shadow: 2px 15px 30px rgba(0,0,0,0.5);
}

.course-img {
    text-align: center;
    width: 100%;
    height: auto;
}

.course-body {
    padding: 10px;
}

.course-heading {
    text-align:center;
    padding: 5px; 
    font-size: 24px;
    font-weight: 600;
}

.course-text {
    text-align: justify;
}

.course-price {
    text-align:center;
    font-size: 18px;
    margin-top: 10px;
    background-color: #DF2E2E;
    color: #FFF;
}

.form-group {
    margin-bottom: 10px;
}

.text-red {
    color: #ff0000;
}

.text-green {
    color: #08bd08;
}

.text-center {
    text-align: center;
}

.error {
    padding: 0 0 0 10px;
}

.form-submit {
    background-image: url(https://cdn.dribbble.com/users/114484/screenshots/3331928/submitting.gif);
    height: 400px;
    background-position: center;
}

.search {
    width: 100%;
	outline: none;
    padding: 10px 10px;
	font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clear-container {
    width: 100%;
    text-align: center;
}

#clear_result {
    background-color: rgb(197, 196, 196);
    border: 0;
    padding: 10px;
    cursor: pointer;
}

#clear_result:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}